@import url('https://fonts.googleapis.com/css?family=Pacifico|Rancho');
html, body {
  width: 100vw;
  height: 100vh;
  overflow: auto;
  margin: 0;
  background-repeat: no-repeat;
  background-size: cover;

}

/* PRELOADER */
.preloader-active {
  overflow-y: hidden;
  overflow-x: hidden;
}
 #preloader {
  height: 100vh;
  width:100vw;
  background-color: #ffffff;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
#preloader > img{
  margin:auto;
}
/*************/


.audio-toggle-button{
  padding: 5px;
  border: 0;
  background: brown;
  color: white;
  border-radius: 5px;
}

body{
  background: url("../assets/ship2.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.container{
  display: flex;
  flex-direction: row; /* changed from column */
   height: 90vh;
    width: 90vw;
    margin: 8vh auto 5vh auto;
    overflow: auto;
    /* -ms-scrollbar-base-color: transparent; */
    background-color: rgba(0,0,0,0.2);
    padding: 4vh  ;
   }
   .container p{
    font-family: Rancho;
    color: yellow;
    font-size: 5vh;
   }

  .story-text{
    order: 2;
    width: 70vw;
    padding: 2vw;
    flex-direction: row;
  }

  .pirate-imgs{
    order: 1;
    width: 30vw;
    flex-direction:row;
  }

@media only screen and (max-width: 1024px){
    body{
  background: url("../assets/ship2.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
  .container{
  display: flex;
  flex-direction: column;
   height: 90vh;
    width: 95vw;
    margin: 8vh auto 5vh auto;
    overflow: auto;
    background-color: rgba(0,0,0,0.2);
    padding: 4vh;
   }
}


